<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">  
    	<ion-back-button defaultHref="scan"></ion-back-button>
    </ion-buttons>  
    <ion-title>Ingreso del visitante</ion-title> 
   </ion-toolbar>   
 </ion-header>  

<ion-content [fullscreen]="true" class="ion-padding">

		<ion-item lines="full">
          <ion-label position=""><b>{{visitor}}</b></ion-label>
        </ion-item>

		<ion-item-divider>
		    <ion-label>
		      Mediciones
		    </ion-label>
	    </ion-item-divider>

		<ion-item lines="full">
          <ion-label position="">Temperatura</ion-label>
          <ion-input type="number" #firstInput placeholder="Ej. 36.5" min=34 max=43 [(ngModel)]="temperature" required autofocus="true"></ion-input>
        </ion-item>

        <ion-item>
          	<ion-label>Olfato</ion-label>
			<ion-toggle [(ngModel)]="smell" required></ion-toggle>
        </ion-item>

        <ion-item-divider>
		    <ion-label>
		      Preguntas
		    </ion-label>
	    </ion-item-divider>

	    <ion-list>
			<ion-item *ngFor="let q of questions">
				<ion-label class="ion-text-wrap">{{q.label}}</ion-label>
				<ion-toggle [(ngModel)]="q.isItemChecked" required></ion-toggle>
			</ion-item>
		</ion-list>

</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-row>
	        <ion-col>
	          <ion-button (click)="onSubmit()" type="submit" color="danger" expand="block">Guardar <ion-icon slot="end" name="save"></ion-icon></ion-button>
	        </ion-col>
	    </ion-row>
	</ion-toolbar>
</ion-footer>

