<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>

  <div id="container" class="container">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>

          <form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-item lines="full">
              <ion-label position="floating">DNI</ion-label>
              <ion-input formControlName="dni" required autofocus="true" type="text"></ion-input>
              <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                <div *ngIf="f.dni.errors.required">El DNI es obligatorio</div>
              </div>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" type="password" required></ion-input>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
              </div>
            </ion-item>

            <ion-row>
              <ion-col>
                <ion-button type="submit" color="danger" expand="block">Ingresar <ion-icon slot="end" name="log-in-outline"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
          </form>
          <span class="divider line one-line">o</span>
          <a [routerLink]="['/forgot-password']" class="small-text">Recuperar contraseña <ion-icon slot="end" name="lock-closed-outline"></ion-icon></a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>